
<h1> The complete address of <%= input %> is :- </h1>
<p>Street Address : <%= streetAddress %>, </p>
<p>City : <%= city %>, </p>
<p>Country : <%= country %>, </p>
<p>Latitude : <%= lat %> and Longitude : <%= lon%> </p>
